/lib/*.a

/simpleComputer/obj/*.o
/simpleComputer/src/memory
/simpleComputer/src/*.out
/simpleComputer/tst/*.o
/simpleComputer/*.out

/consoleSC/obj/*o
/consoleSC/src/*.out
/consoleSC/tst/*.o
/consoleSC/*.out

/bc/tst/*.o
/bc/obj/*.o
/bc/*.out
/bc/bigchars
/bc/bigtest

/readKey/*
/readKey/tst/*.o
/readKey/obj/*.o
/readKey/*.out

/cpu/*
/asm/*
/basic/*
