/lib/*.a
/simpleComputer/obj/*.o
/simpleComputer/src/memory
/simpleComputer/src/*.out
/consoleSC/obj/*o
/consoleSC/src/*.out
/bc/src/main.c
/bc/obj/*.o
/bc/src/*.out
/bc/src/bigchars
/bc/src/bigtest


